<!DOCTYPE html>
<html>
<head>
  <title>Carros</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 5px;
      padding: 5px;
    }

    .header {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
    }

    .header a {
      margin-left: 10px;
    }

    .title-wrapper {
      border: solid 1px #2a163d;
      border-radius: 10px;
      background-color: #DABCF9;
      padding: 20px;
      text-align: center;
    }

    .title-wrapper h1 {
      margin: 0;
      color: rgb(27, 27, 28);
      font-size: 33px;
    }

    .car-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      padding: 10px;
      margin: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f5f5f5;
    }

    .car-image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 5px;
    }

    .car-info {
      margin-top: 10px;
      text-align: center;
    }

    .car-info h3 {
      margin: 0;
      font-size: 18px;
    }

    .car-info p {
      text-align: left;
      margin: 5px 0;
    }

    .rental-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f5f5f5;
    }

    .rental-form h2 {
      margin: 0;
      font-size: 18px;
    }

    .rental-form form {
      margin-top: 10px;
    }

    .rental-form label {
      display: block;
      margin-top: 10px;
    }

    .rental-form input[type="date"],
    .rental-form select {
      width: 100%;
      padding: 5px;
      font-size: 14px;
    }

    .rental-form input[type="text"] {
      width: 100%;
      padding: 5px;
      font-size: 14px;
      background-color: #eee;
    }

    .rental-form button {
      margin-top: 10px;
      padding: 8px 20px;
      font-size: 16px;
      border: none;
      background-color: #A069C1;
      color: white;
      cursor: pointer;
    }

    .rental-form button:hover {
      background-color: #ca98e8;
    }
    a,button {
      border-radius: 30px;
      text-align: center;
      display: block;
      height: auto;
      width: 150px;
      padding: 10px;
      font-size: 20px;
      border: solid 1px;
      color: white;
      background-color: #A069C1;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="header">
    <a href="/menu">Inicio</a>
  </div>

  <div class="title-wrapper">
    <h1>Locadora de Carros</h1>
  </div>
  <br><br>
  <div style="display: flex; justify-content: center;">
    <div class="car-card">
      <img class="car-image" src="<%= carro.foto %>" alt="Foto do Carro">
      <div class="car-info">
        <h3><%= carro.nome %></h3>
        <p>Marca: <%= carro.marca %></p>
        <p>Cor: <%= carro.cor %></p>
        <p>Valor: <%= carro.valor %></p>
        <p>Preço Diária: <%= carro.precoDiaria %></p>
        <p>Status: <b><%= carro.status%></b></p>
      </div>
    </div>

    <div class="rental-form">
      <h2>Aluguel</h2>
      <form action="/loja/aluguel/<%= carro._id %>" method="POST">
        <div>
          <label for="start-date">Data de Início do Aluguel:</label>
          <input type="date" id="start-date" name="start-date" required>
        </div>
        <div>
          <label for="end-date">Data de Fim do Aluguel:</label>
          <input type="date" id="end-date" name="end-date" required>
        </div>
        <div>
          <label for="total-price">Valor Total:</label>
          <input type="text" id="total-price" name="total-price" value="" readonly>
        </div>
        <div>
          <label for="payment-method">Forma de Pagamento:</label>
          <select id="payment-method" name="payment-method" required>
            <option value="">Selecione uma opção</option>
            <option value="Cartão">Cartão</option>
            <option value="Boleto">Boleto</option>
            <option value="PIX">PIX</option>
          </select>
        </div>
        <center><button type="submit">Alugar</button></center>
      </form>
    </div>
  </div>

  <script>
    // Calcular o valor total ao selecionar as datas de início e fim do aluguel
    const startDateInput = document.getElementById('start-date');
    const endDateInput = document.getElementById('end-date');
    const totalPriceInput = document.getElementById('total-price');
    const pricePerDay = <%= carro.precoDiaria %>;

    function calculateTotalPrice() {
      const startDate = new Date(startDateInput.value);
      const endDate = new Date(endDateInput.value);
      const days = Math.ceil((endDate - startDate) / (1000 * 3600 * 24));
      const totalPrice = days * pricePerDay;
      totalPriceInput.value = totalPrice.toFixed(2);
    }

    startDateInput.addEventListener('change', calculateTotalPrice);
    endDateInput.addEventListener('change', calculateTotalPrice);


    function checkDates(event) {
      const startDateInput = document.getElementById('start-date');
      const endDateInput = document.getElementById('end-date');
      const startDate = new Date(startDateInput.value);
      const endDate = new Date(endDateInput.value);

      if (startDate.toISOString().slice(0, 10) === endDate.toISOString().slice(0, 10)) {
        event.preventDefault(); // Impede o envio do formulário
        alert('A data de início e fim do aluguel não podem ser iguais.');
      }
    }
    // Adicionar a função de verificação no evento de envio do formulário
    const form = document.querySelector('form');
    form.addEventListener('submit', checkDates);
  </script>
</body>
</html>
