<!DOCTYPE html>
<html>
<head>
  <title>Edição de Veículo</title>
  <style>
    label {
        padding: 5px;
        text-align: left;
        color: #270c27;
    }
    body {
        background-color: #DABCF9;
    }

    .login {
        font-family: sans-serif;
        height: auto;
        width: auto;
        background-color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 40px;
        padding-right: 50px;
        border-radius: 15px;
        color: #fff;
        border-style: solid;
    }

    input {
        width: 100%;
        padding: 12px;
        border: 1px;
        border-radius: 9px;
        outline: none;
        font-size: 15px;
        background-color: #F0F0F0;
    }
    select {
        width: 100%;
        padding: 12px;
        border: 1px;
        border-radius: 9px;
        outline: none;
        font-size: 15px;
        background-color: #F0F0F0;
    }
    h1 {
        color: #341A4E;
        font-size: 25px;
    }

    h3 {
        color: #4f1f69;
        font-size: 15px;
    }

    a {
        font-size: 5px;
        text-decoration: none;
    }

    #botaoCadastro {
        text-align: center;
        border: none;
        padding: 10px;
        width: 70%;
        height: 37px;
        font-size: 17px;
        border-radius: 15px;
        color: #ffffff;
        background-color: #A069C1;
    }

    #botaoCadastro:hover {
        transition: all 0.5s;
        background-color: #4f1f69;
    }

    p {
        color: #A069C1;
    }
     @media(max-width: 700px) {
        .login {
            height: auto;
            width: 70%;
        }
    }
  </style>
  </script>
</head>
<body>
  <br><br>
  <div class="login">
    <br>
    <center><h1>Edição de Veículo</h1></center>
    <form id="product-form" action="/admin/loja/edit-carro/<%= carro._id %>" method="POST">
      <label for="foto">Foto (URL da imagem)</label>
      <input type="text" id="foto" name="foto" required placeholder="URL da imagem" value="<%= carro.foto %>">
      <br><br>
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" required placeholder="Nome do produto" value="<%= carro.nome %>">
      <br><br>
      <label for="marca">Marca</label>
      <input type="text" id="marca" name="marca" required placeholder="Marca do produto" value="<%= carro.marca %>">
      <br><br>
      <label for="cor">Cor</label>
      <input type="text" id="cor" name="cor" required placeholder="Cor do produto" value="<%= carro.cor %>">
      <br><br>
      <label for="valor">Valor</label>
      <input type="number" id="valor" name="valor" required placeholder="Valor do produto" value="<%= carro.valor %>">
      <br><br>
      <label for="precoDiaria">Preço da Diária</label>
      <input type="number" id="precoDiaria" name="precoDiaria" required placeholder="Preço da diária" value="<%= carro.precoDiaria %>">
      <br><br>
      <center>
        <input type="submit" value="Salvar" id="botaoCadastro">
      </center>
      <br><br>
    </form>
  </div>
</body>
</html>
