<!DOCTYPE html>
<html>
<head>
  <title>Editar Usuário</title>
  <style>
    label {
      padding: 5px;
      text-align: left;
      color: #270c27;
    }

    body {
      background-color: #DABCF9;
    }

    .editar-usuario {
      font-family: sans-serif;
      height: auto;
      width: auto;
      background-color: #fff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 40px;
      padding-right: 50px;
      border-radius: 15px;
      color: #fff;
      border-style: solid;
    }

    input {
      width: 100%;
      padding: 12px;
      border: 1px;
      border-radius: 9px;
      outline: none;
      font-size: 15px;
      background-color: #F0F0F0;
    }

    select {
      width: 100%;
      padding: 12px;
      border: 1px;
      border-radius: 9px;
      outline: none;
      font-size: 15px;
      background-color: #F0F0F0;
    }

    h1 {
      color: #341A4E;
      font-size: 25px;
    }

    h3 {
      color: #4f1f69;
      font-size: 15px;
    }

    a {
      font-size: 5px;
      text-decoration: none;
    }

    #botaoSalvar {
      text-align: center;
      border: none;
      padding: 10px;
      width: 70%;
      height: 37px;
      font-size: 17px;
      border-radius: 15px;
      color: #ffffff;
      background-color: #A069C1;
    }

    #botaoSalvar:hover {
      transition: all 0.5s;
      background-color: #4f1f69;
    }

    p {
      color: #A069C1;
    }

    @media(max-width: 700px) {
      .editar-usuario {
        height: auto;
        width: 70%;
      }
    }
  </style>
</head>
<body>
  <br><br>
  <div class="editar-usuario">
    <br>
    <center><h1>Editar Usuário</h1></center>
    <form action="/loja/conta/editar" method="POST">
      <label for="nome">Nome Completo</label>
      <input type="text" id="nome" name="nome" value="<%= user.nome %>" required placeholder="Nome">
      <br><br>
      <!--  
      <label for="username">Email</label>
      <input type="email" id="username" name="username" title="Não Editável" value="<%= user.username %>" placeholder="Email" required="required" readonly>
      <br><br>
      -->
      <label for="telefone">Telefone</label>
      <input type="text" id="telefone" name="telefone" value="<%= user.telefone %>" placeholder="Telefone" required="required">
      <br><br>
      <label for="dataNasc">Data Nascimento</label>
      <input type="date" id="dataNasc" name="dataNasc" value="<%= user.dataNasc %>" required="required">
      <br><br>
      <label for="genero">Gênero</label><br>
      <select id="genero" name="genero" required>
        <option value="Masculino" <%= user.genero === 'Masculino' ? 'selected' : '' %>>Masculino</option>
        <option value="Feminino" <%= user.genero === 'Feminino' ? 'selected' : '' %>>Feminino</option>
      </select>
      <br><br>
      <center>
        <input type="submit" value="Salvar" id="botaoSalvar"><br><br>
      </center>
    </form>
  </div>
</body>
</html>
