<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f5f5f5;
    }
    
    .container {
      text-align: center;
      padding: 30px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .menu {
      display: flex;
      flex-direction: column;
      align-items: left;
    }
    
    .menu a {
      display: block;
      /*width: 200px;*/
      width: 90%;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 18px;
      text-decoration: none;
      color: #000;
      background-color: #DABCF9;
      border: 1px solid #2a163d;
      border-radius: 5px;
    }
    
    .menu a:hover {
      background-color: #af90bc;
    }
    
    h2 {
      color: #1d0831;
    }
    
    .menu p {
        font-size: 20px;
      text-align: left;
    }
    .header {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    
    .header a {
      border-radius: 30px;
      text-align: center;
      display: block;
      height: auto;
      width: 150px;
      padding: 10px;
      font-size: 20px;
      border: solid 1px;
      color: white;
      background-color: #A069C1;
      text-decoration: none;
    }
  </style>
  <script>
    function confirmDelete() {
      var confirmation = confirm("Tem certeza de que deseja excluir sua conta?");
      if (confirmation) {
        window.location.href = "/loja/conta/excluir";
      }
    }
  </script>
</head>
<body>
    <div class="header">
        <a href="/menu">Início</a>
    </div>
  <div class="container">
    <h2>Dados da Conta</h2>
    <div class="menu">
      <p><b>Nome completo:</b> <%= user.nome %></p>
      <p><b>Email:</b> <%= user.username %></p>
      <p><b>Telefone:</b> <%= user.telefone %></p>
      <p><b>Data Nascimento:</b> <%= user.dataNasc %></p>
      <p><b>Gênero:</b> <%= user.genero %></p>
      <a href="/loja/conta/editar">Editar Conta</a>
      <a href="#" onclick="confirmDelete()">Excluir Conta</a>
      <a href="/loja/conta/editar-senha">Alterar Senha</a>
    </div>
  </div>
</body>
</html>
